*.php
*.icloud
*.xml
*.mo
*.gz
*.po
*.json
*.gz
*.transient
/.idea/
/wp-content/cache/blogs/
/wp-content/cache/meta/
/wp-content/cache/supercache/
*.htaccess
/wp-content/cache/index.html


wp-content/ai1wm-backups
wp-content/w3tc-config
wp-content/languages
wp-includes/certificates
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/updraft/
/wp-content/plugins/hide-login-page/0
/wp-content/plugins/updraftplus/
/wp-content/plugins/wp-github-gos-master/
/wp-content/plugins/woocommerce/
/wp-content/plugins/cdn-enabler/
/wp-content/plugins/clearfy/
/wp-content/plugins/robin-image-optimizer/
